<!DOCTYPE html>
<html>
<head>
    <title>Block Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/">Blocks</a></li>
            <li><a href="{{ url_for('witnesses') }}">Witnesses</a></li>
            <li><a href="{{ url_for('assets') }}">Assets</a></li>
        </ul>
    </nav>

    {% for asset in asset_list %}
    <h2>Asset Symbol: {{ asset.symbol }}</h2>
    <p>Precision: {{ asset.precision }}</p>
    <p>Issuer: {{ asset.issuer }}</p>
    <p>Description: {{ asset.description }}</p>
    <p>Options: {{ asset.options }}</p>
    <hr>
{% endfor %}
</body>
</html>